.container{
    width: 100%;
    /* background-color: #342c31; */
    background-image: url("https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?cs=srgb&dl=pexels-wendywei-1190297.jpg&fm=jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.paddingContainer{
    padding: 5%;
}
.gridSection{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.gridContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.button {
    display: flex;
    font-size: 0.875rem;
    padding: 0.9375rem 5rem;
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-size: 1.125rem;
    margin-left: 25%;
    background-color: rgb(243, 205, 135);
    border: 1px solid black;
    animation: move-button linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 15%;
    animation: hover-button linear 2s 8s infinite;
}
.button:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes move-button {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes hover-button {
   50%{
    scale: 1.2;
   }
}
.carousel{
    padding: 5% 0px 0px 0px;
    max-width: 45%;
    min-width: 45%;
    min-height: 50%;
    animation: carousel-appears linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes carousel-appears {
    from{
        transform: translateX(1px);
        scale: .5;
        opacity: .9;
    }
    to{
        transform: translateX(0px);
        scale: 1;
        opacity: 1;
    }
}

@keyframes move-text {
    from{
        scale: .5;
        opacity: .7;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}
.description{
    font-size: 22px;
    text-align: start;
    text-wrap: wrap;
    width: 90%;
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 1px 1px black;
    animation: move-text linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.secondDescription{
    font-size: 30px;
    text-align: start;
    text-wrap: wrap;
    width: 85%;
    color: rgb(238, 184, 83);
    text-shadow: 2px 1px 1px black;
    transition: 0.8s;
    animation: move-text linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 20%;
}

.secondDescription:hover{
    transition: 0.8s;
    text-shadow: 4px 4px 4px black;
}
  
.title {
    text-align: start;
    color: rgba(255, 255, 255, 0.904);
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    text-wrap: wrap;
    width: 90%;
    animation: move-text linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

  