.navBg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-xl */
    padding-top: 1.5rem; /* py-6 */
    padding-bottom: 1.5rem; /* py-6 */
    background-color: #342c31;
    /* width: 100%; */
    width: 100%;/* container */
}
@media (min-width:600px){
    .navBg {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-xl */
        padding-top: 1.5rem; /* py-6 */
        padding-bottom: 1.5rem; /* py-6 */
        z-index: 20;
        background-color: #342c31;
        height: 10%;
        /* width: 100%; */
        width: 100%;/* container */
        position: sticky;
        top: 0;
        animation: enhance-header linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
        z-index: 1;
    }
}
@keyframes enhance-header {
    to{
        background-color: #342c31ce;
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: black;
        opacity: .7;
    }
}
.logo{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    margin-top: -0.5%;
    transition: 0.5s;
}
.logo:hover{
    transition: 0.5s;
    opacity: 60%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    width: 80%;
}
